.jumbotron {
  padding-top: 6rem;
  background-color: rgb(247, 174, 186);
}

#galeri {
  background-color: rgb(247, 174, 186);
}

.footer {
  padding-bottom: 10rem;
}

section {
  padding-top: 5rem;
}
